@model IEnumerable<MaisLifeModel.Models.parceiro>
<table class="table-hover">
    <tr>
        <th></th>
        <th>Parceiro</th>
        <th>Endereço</th>
        <th>Telefone</th>
        <th>Mídias</th>
    </tr>
    @foreach (var patner in @Model)
    {
        <tr data-id="@patner.id" data-content="patner-row" data-info="unselected">
            <td>
                @if (@patner.imagem.Contains("http"))
                {
                    <img src="@patner.imagem" class="img-responsive patner-img" />
                }
                else
                {
                    <img src="@Url.Content("~/Images/Uploads/" + @patner.imagem)" class="img-responsive patner-img" />
                }               
            </td>
            <td>
                @patner.nome
            </td>
            <td>
                @patner.enderec
            </td>
            <td>
                @if (patner.telefone != null)
                {
                    <div class="patner-phone">@patner.telefone</div>
                }
                else
                {
                    <div class="patner-phone">Não informado</div>
                }

            </td>
            <td>
                @if (patner.facebook != null)
                {
                    <div class="patner-social-item">
                        <a href="@patner.facebook" target="_blank"><span class="fa fa-facebook"></span></a>
                    </div>
                }
                @if (patner.site != null)
                {
                    <div class="patner-social-item">
                        <a href="@patner.site" target="_blank"><span class="glyphicon glyphicon-home"></span></a>
                    </div>
                }
            </td>
        </tr>
    }
</table>