@model IEnumerable<MaisLifeModel.Models.produto>
<table class="table-hover">
    <tr>
        <th></th>
        <th>Produto</th>
        <th>Descrição</th>
        <th>Preço</th>
        <th>Unidades</th>
    </tr>
    @foreach (var product in @Model)
    {
        <tr data-id="@product.id" data-content="patner-row" data-info="unselected">
            <td style="width:100px; height: 100px;">               
                @if (@product.imagem != null && @product.imagem.Contains("http"))
                {
                    <img src="@product.imagem" class="img-responsive patner-img" />
                }
                else
                {
                    <img src="@Url.Content("~/Images/Uploads/" + @product.imagem)" class="img-responsive patner-img" />
                }

            </td>
            <td>
                @product.nome
            </td>
            <td>
                @product.descricao
            </td>
            <td>
                @product.preco
            </td>
            <td>
                @product.unidade
            </td>
        </tr>
    }
</table>
