@model MaisLife.Models.Adapter.PedidoAdapter
@{
    var outsideClients = (List<MaisLifeModel.Usuario_externo>)ViewBag.OutsideClients;
    var products = (List<MaisLifeModel.Produto>)ViewBag.Products;
}
@using (Ajax.BeginForm("ManagerExternalOrder", "Admin", new AjaxOptions()
{
    HttpMethod = "POST",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "orderTable"
    //LoadingElementId = "divProgress"
}))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.EditorFor(model => model.Id, new { htmlAttributes = new { @class = "form-control", @type = "hidden" } })
        <input type="hidden" name="product-amount" value="0" />
        <div class="col-lg-3">
            <div class="form-group">
                <div class="form-label">
                    Cliente:
                </div>
                <div class="form-input">
                    <select data-id="client-select" name="client" class="form-control">
                        <option value="0">Novo cliente</option>
                        @foreach (var outside in outsideClients)
                        {
                            <option value="@outside.Idusuario">@outside.Nome</option>
                        }
                    </select>
                </div>                
            </div>
        </div>
        <div class="col-lg-2">
            <div class="form-group">
                <div class="form-label">
                    Nome:
                </div>
                <div class="form-input">
                    <input type="text" name="client-name" class="form-control" placeholder="Nome"/>  
                </div>               
            </div>
        </div>
        <div class="col-lg-2">
            <div class="form-group">
                <div class="form-label">
                    Contato:
                </div>
                <div class="form-input">
                    <input type="text" name="client-phone" class="form-control" placeholder="Telefone" />
                </div>
            </div>
        </div>
        <div class="col-lg-5">
            <div class="form-group">
                <div class="form-label">
                    Documento:
                </div>
                <div class="form-input">
                    <input type="text" name="client-doc" class="form-control" placeholder="CPF/CNPJ" />
                </div>
            </div>
        </div>  
        <div class="col-lg-3">
            <div class="form-group">
                <div class="form-label">
                    Cidade:
                </div>
                <div class="form-input">
                    <input type="text" name="client-city" class="form-control" placeholder="Cidade" />
                </div>                
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
                <div class="form-label">
                    Bairro:
                </div>
                <div class="form-input">
                    <input type="text" name="client-local" class="form-control" placeholder="Bairro" />
                </div> 
            </div>
        </div> 
        <div class="col-lg-3">
            <div class="form-group">
                <div class="form-label">
                    Rua:
                </div>
                <div class="form-input">
                    <input type="text" name="client-street" class="form-control" placeholder="Rua" />
                </div> 
            </div>
        </div> 
        <div class="col-lg-3">
            <div class="form-group">
                <div class="form-label">
                    Número:
                </div>
                <div class="form-input">
                    <input type="text" name="client-number" class="form-control" placeholder="Número" />
                </div>
            </div>
        </div>
        <div class="col-lg-12" style="float: left;">
            <div class="form-group" data-id="products">
                <div class="form-label">
                    Produtos:
                </div>
                <div data-id="product-content" class="form-input">
                    <div data-id="product-box" data-content="product-field" class="col-lg-3">
                        <div class="field-box">
                            <select class="form-control" data-id="product-select">
                                <option value="0">Produto</option>
                                @foreach (var product in products)
                                {
                                    <option value="@product.Id">@product.Nome</option>
                                }
                            </select>
                            <div class="group-input">
                                <input type="text" class="form-control" placeholder="Un" name="product-un" disabled />
                                <input type="text" class="form-control" placeholder="Preço" name="product-price" disabled />                                
                            </div>                            
                            <div class="group-input">
                                <input type="number" class="form-control" placeholder="Qtd" name="product-count" min="0" />
                                <input type="text" class="form-control" placeholder="Total" name="product-total" disabled />
                            </div>
                        </div>
                        <div class="field-more">
                            <button type="button" class="btn btn-primary" data-id="more-product"><span class="glyphicon glyphicon-plus"></span></button>
                        </div>
                    </div>
                     
                    @*@if (Model.Id > 0)
                    {
                        foreach (var delivery in @Model.Bairros)
                        {

                            <div data-content="delivery-field" class="col-lg-3">
                                <div class="field-box">
                                    <select class="form-control" data-id="delivery-local">
                                        <option value="0">Bairro</option>
                                        @foreach (var local in locals)
                                        {
                                            if (local.Nome == delivery.Bairro1.Nome)
                                            {
                                                <option value="@local.Id" selected>@local.Nome</option>
                                            }
                                            else
                                            {
                                                <option value="@local.Id">@local.Nome</option>
                                            }
                                        }
                                    </select>
                                    <input type="text" class="form-control" placeholder="Taxa" value="@delivery.Taxa" />
                                </div>
                                <div class="field-more">
                                    <button type="button" class="btn btn-danger" data-id="remove-delivery"><span class="glyphicon glyphicon-remove"></span></button>
                                </div>
                            </div>
                        }
                    }*@
                   
                </div>
            </div>
        </div>           
                
        <div class="col-lg-11">
            @if (Model.Id > 0)
            {
                <button class="btn btn-success panel-submit" type="submit" data-id="panel-submit">Alterar</button>
                <a class="btn btn-default" href="@Url.Action("Parceiros", "Admin", new RouteValueDictionary(new MaisLife.Models.Adapter.ParceiroAdapter()))">Voltar</a>
            }
            else
            {
                <button class="btn btn-success panel-submit" type="submit" data-id="panel-submit">Inserir</button>
            }

        </div>

    </div>
}
