<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap-social.css" rel="stylesheet" type="text/css" />  
    <link href="~/Content/Admin.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/AdminMapPage.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/JavaScripts/Admin.js"></script>         
</head>
<body>
    <div class="side-menu">       
        <ul class="list-group">
            <li class="list-group-item">
                <a href="@Url.Action("Index", "Home", new { id = 0 })" style="background-color:#FFF; color: #333">
                    <div class="right">
                        <i class="fa fa-home right" aria-hidden="true"></i>
                    </div>
                    Site
                </a>
            </li> 
            <li class="list-group-item">
                <a href="@Url.Action("Index", "Parceiro", new { id = 0 })">
                    <div class="right">
                        <i class="fa fa-thumbs-up right" aria-hidden="true"></i> 
                    </div>                
                    Parceiros
                </a>
            </li> 
            <li class="list-group-item">
                <a href="@Url.Action("Index", "Produto", new { id = 0 })">
                    <i class="fa fa-gift right" aria-hidden="true"></i> 
                    Produtos
                </a>
            </li>
            <li class="list-group-item"><a href="@Url.Action("Index", "VendaExterna", new { id = 0 })"><i class="glyphicon glyphicon-share-alt right" aria-hidden="true"></i> Venda externa</a></li> 
            <li class="list-group-item"><a href="@Url.Action("Index", "MapaEntrega", new { id = 0 })"><i class="glyphicon glyphicon-globe right" aria-hidden="true"></i> Mapas de entrega</a></li>  
            <li class="list-group-item"><a href="@Url.Action("Index", "Venda")"><i class="glyphicon glyphicon-star right" aria-hidden="true"></i> Vendas</a></li>                                                                               
        </ul>
    </div>
    <div class="admin-content">
        @RenderBody()
    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>
