@model IEnumerable<MaisLifeModel.Parceiro>
<table class="table-hover">
    <tr>
        <th></th>
        <th>Parceiro</th>
        <th>Endereço</th>
        <th>Telefone</th>
        <th>Mídias</th>
    </tr>
    @foreach (var patner in @Model)
    {
        <tr data-id="@patner.Id" data-content="patner-row" data-info="unselected">
            <td>
                @if (@patner.Imagem.Contains("http"))
                {
                    <img src="@patner.Imagem" class="img-responsive patner-img" />
                }
                else
                {
                    <img src="@Url.Content("~/Images/Uploads/" + @patner.Imagem)" class="img-responsive patner-img" />
                }               
            </td>
            <td>
                @patner.Nome
            </td>
            <td>
                @patner.Enderec
            </td>
            <td>
                @if (patner.Telefone != null)
                {
                    <div class="patner-phone">@patner.Telefone</div>
                }
                else
                {
                    <div class="patner-phone">Não informado</div>
                }

            </td>
            <td>
                @if (patner.Facebook != null)
                {
                    <div class="patner-social-item">
                        <a href="@patner.Facebook" target="_blank"><span class="fa fa-facebook"></span></a>
                    </div>
                }
                @if (patner.Site != null)
                {
                    <div class="patner-social-item">
                        <a href="@patner.Site" target="_blank"><span class="glyphicon glyphicon-home"></span></a>
                    </div>
                }
            </td>
        </tr>
    }
</table>