<script src="~/JavaScripts/Address&Shipping.js"></script>

@{
    ViewBag.Title = "Endereco e pagamento";
    var user = (MaisLifeModel.Models.usuario)ViewBag.User;
    var cart = (MaisLifeModel.Models.carrinho)ViewBag.Cart;
    var error = TempData["Error"];
}

<div class="container store-page address-page">
    <div class="page-header">
        <h1>
            Endereço e forma de pagamento
            <small class="right">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#new-address">
                    Novo endereço
                </button>
            </small>
        </h1>
    </div>

    <div class="row">
        <!-- Modal -->
        <div class="modal fade" id="new-address" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Novo endereço</h4>
                    </div>
                    <div class="modal-body">
                        @model MaisLife.Models.Adapter.EnderecoAdapter

                        @using (Html.BeginForm("NovoEndereco", "Home"))
                        {
                            @Html.AntiForgeryToken()

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                            <div class="form-group">
                                @Html.EditorFor(model => model.Cidade, new { htmlAttributes = new { @class = "form-control", @placeholder = "Cidade" } })
                                @Html.ValidationMessageFor(model => model.Cidade, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.EditorFor(model => model.Bairro, new { htmlAttributes = new { @class = "form-control", @placeholder = "Bairro" } })
                                @Html.ValidationMessageFor(model => model.Bairro, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.EditorFor(model => model.Numero, new { htmlAttributes = new { @class = "form-control", @placeholder = "Numero" } })
                                @Html.ValidationMessageFor(model => model.Numero, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.EditorFor(model => model.Rua, new { htmlAttributes = new { @class = "form-control", @placeholder = "Rua" } })
                                @Html.ValidationMessageFor(model => model.Rua, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Salvar endereço" class="btn btn-primary" />
                            </div>
                        }
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                    </div>
                </div>
            </div>
        </div>
        @if (user.endereco.Count() == 0)
        {
            <div class="col-lg-8 no-item">
                <span data-toggle="modal" data-target="#new-address"> Cadastre um novo endereço</span>
            </div>
        }
        else
        {
            <div class="col-lg-8">
                <div class="btn-group" data-toggle="buttons">

                    @if (user != null)
                    {
                        foreach (var address in user.endereco)
                        {
                            <div data-content="address" data-id="@address.id" data-info="@address.bairro1.id" class="btn btn-primary btn-address ">
                                <input type="radio" name="options" id="option1" autocomplete="off">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <label>Cidade:</label> @address.cidade
                                    </li>
                                    <li class="list-group-item">
                                        <label>Bairro:</label> @address.bairro1.nome
                                    </li>
                                    <li class="list-group-item">
                                        <label>Rua:</label> @address.rua
                                    </li>
                                    <li class="list-group-item">
                                        <label>Número:</label> @address.numero
                                    </li>
                                    @*<li class="list-group-item">
                                            <label>Taxa:</label> R$<span data-id="address-tax"> @address.Bairro1.Taxa</span>
                                        </li>*@
                                </ul>
                            </div>
                        }
                    }

                </div>
                @if (error != null)
                {
                    <div class="alert alert-danger">
                        @error
                    </div>
                }

            </div>
        }

        <div class="col-lg-4 payment">
            <div class="btn btn-default">
                <form action="~/Home/FinalizarPedido" method="POST">
                    <ul class="list-group">

                        <li class="list-group-item">
                            <ul class="list-group product-list">
                                @foreach (var rel in cart.carrinho_produto)
                                {
                                    <li class="list-group-item">@rel.produto1.nome<div class="right">@rel.quantidade x R$ @rel.produto1.preco</div></li>
                                }
                                <li class="list-group-item">Subtotal: <strong>R$ @cart.Total(0)</strong></li>
                            </ul>
                        </li>
                        <li class="list-group-item">
                            <div class="btn-group" data-toggle="buttons">
                                <label data-id="method-cash" class="btn btn-primary active">
                                    <input type="radio" name="options" id="option1" autocomplete="off" checked> <span class="glyphicon glyphicon-credit-card"></span> Dinheiro
                                </label>
                                <label data-id="method-creditcard" class="btn btn-primary">
                                    <input type="radio" name="options" id="option2" autocomplete="off"> <span class="glyphicon glyphicon-credit-card"></span> Cartão
                                </label>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <label>Entrega:</label> <input type="text" class="form-control" placeholder="R$ 0,0" data-id="address-shipping" readonly value="R$ 0,00" />
                        </li>
                        <li class="list-group-item">
                            <label>Total:</label> <input type="text" class="form-control" name="address-total" placeholder="R$" data-id="address-total" data-content="@cart.Total(0)" readonly value="R$ @cart.Total(0)" />
                        </li>
                        <li class="list-group-item">
                            <label>Troco para R$:</label>
                            <input type="text" class="form-control" name="payment-chng" data-id="chng" />
                            <div class="chng-text" data-reactid="chng">Troco: R$ 0,0</div>
                        </li>

                        <li class="list-group-item" data-id="parcel" style="display: none">
                            <label>Parcelas:</label>
                            <input type="number" class="form-control" name="payment-parcels" min="1" value="1" max="3" />
                        </li>
                        <li class="list-group-item">

                            <input type="hidden" name="address" value="0" />
                            <input type="hidden" name="payValue" value="0.0" />
                            <input type="hidden" name="payMethod" value="A vista" />
                            <button type="button" data-id="shipping-calculate" class="btn btn-primary" disabled>Calcular frete</button>
                            <button type="submit" data-id="buy-submit" class="btn btn-success" disabled>
                                Finalizar pedido
                            </button>

                        </li>

                    </ul>
                </form>

            </div>
        </div>
    </div>


</div>
