@model IEnumerable<MaisLifeModel.Models.pedido>
@{
    var today = DateTime.Now;   
}
<table class="table-hover">
    <tr>
        <th>Nº</th>       
        <th>Contato</th>
        <th>Cliente</th>
        <th>Endereço</th>
        <th>Método</th>
        <th>Valor</th>
        <th>Entrega</th>
        <th>Status</th>
    </tr>
    @foreach (var order in @Model)
    {
        <tr data-id="@order.id" data-content="patner-row" data-info="unselected">
            <td style="width:30px; height: 30px;">
                @order.id
            </td>
            <td style="width:100px;">               
                @order.usuario_externo1.telefone
            </td>
            <td>
                @order.usuario_externo1.nome
            </td>
            <td>
                @order.endereco1.bairro1.nome
            </td>
            <td>
                @order.metodo
            </td>
            <td>
                <span style="font-weight: bold;">
                   @order.valor
                </span>
                
            </td>
            <td>
                @if (@order.previsao_entrega < today) { 
                    <span style="font-weight: bold; color: #ce4949;">
                        @order.previsao_entrega.ToString().Split(new Char[] { ' ' })[0]
                    </span>
                }
                else
                {
                    <span style="font-weight: bold;">
                        @order.previsao_entrega.ToString().Split(new Char[] { ' ' })[0]
                    </span>
                }
                
            </td>
            <td>
                @order.status
            </td>
        </tr>
    }
</table>

