@model IEnumerable<MaisLifeModel.Pedido>
<table class="table-hover">
    <tr>
        <th>Nº</th>       
        <th>Contato</th>
        <th>Cliente</th>
        <th>Endereço</th>
        <th>Método</th>
        <th>Valor</th>
        <th>Valor pago/Troco</th>
        <th>Status</th>
    </tr>
    @foreach (var order in @Model)
    {
        <tr data-id="@order.Id" data-content="patner-row" data-info="unselected">
            <td style="width:30px; height: 30px;">
                @order.Id
            </td>
            <td style="width:100px;">               
                @order.Usuario_externo1.Telefone
            </td>
            <td>
                @order.Usuario_externo1.Nome
            </td>
            <td>
                @order.Endereco1.Bairro1.Nome
            </td>
            <td>
                @order.Metodo
            </td>
            <td>
                @order.Valor
            </td>
            <td>
                @order.Pago/@order.Troco()
            </td>
            <td>
                @order.Status
            </td>
        </tr>
    }
</table>

