@model IEnumerable<MaisLifeModel.Models.pedido>
<div>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#home" aria-controls="opened" role="tab" data-toggle="tab">Em aberto</a></li>
        <li role="presentation"><a href="#profile" aria-controls="trafic" role="tab" data-toggle="tab">Em trânsito</a></li>
        <li role="presentation"><a href="#messages" aria-controls="closed" role="tab" data-toggle="tab">Entregues</a></li>     
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">
            <table class="table">
                <tr>
                    <th>Nº</th>
                    <th>Origem</th>
                    <th>Cliente</th>
                    <th>Desconto</th>
                    <th>Valor</th>
                    <th>Ações</th>
                </tr>
                @foreach (var order in Model)
                {
                    if (@order.status == "Em aberto")
                    {
                        <tr>
                            <td>@order.id</td>
                            @if (@order.origem == "Site")
                            {
                                <td>@order.origem</td>
                            }
                            else if (@order.origem == "Vendedor")
                            {
                                <td>@order.usuario1.nome @order.usuario1.sobrenome</td>
                            }
                            @if (@order.origem == "Site")
                            {
                                <td>@order.usuario1.nome @order.usuario1.sobrenome</td>
                            }
                            else if (@order.origem == "Vendedor")
                            {
                                <td>@order.usuario_externo1.nome</td>
                            }
                            <td>@order.desconto %</td>
                            <td>@order.valor</td>
                            <td><a href="@Url.Action("ProfileView", new { id = @order.id})"><span class="glyphicon glyphicon-eye-open"></span></a></td>
                        </tr>
                    }

                }
            </table>
        </div>
        <div role="tabpanel" class="tab-pane" id="profile">
            <table class="table">
                <tr>
                    <th>Nº</th>
                    <th>Origem</th>
                    <th>Cliente</th>
                    <th>Desconto</th>
                    <th>Valor</th>
                    <th>Ações</th>
                </tr>
                @foreach (var order in Model)
                {
                    if (@order.status == "Em trânsito")
                    {
                        <tr>
                            <td>@order.id</td>
                            @if (@order.origem == "Site")
                            {
                                <td>@order.origem</td>
                            }
                            else if (@order.origem == "Vendedor")
                            {
                                <td>@order.usuario1.nome @order.usuario1.sobrenome</td>
                            }
                            @if (@order.origem == "Site")
                            {
                                <td>@order.usuario1.nome @order.usuario1.sobrenome</td>
                            }
                            else if (@order.origem == "Vendedor")
                            {
                                <td>@order.usuario_externo1.nome</td>
                            }
                            <td>@order.desconto %</td>
                            <td>@order.valor</td>
                            <td><a href="@Url.Action("ProfileView", new { id = @order.id})"><span class="glyphicon glyphicon-eye-open"></span></a></td>
                        </tr>
                    }

                }
            </table>
        </div>
        <div role="tabpanel" class="tab-pane" id="messages">
            <table class="table">
                <tr>
                    <th>Nº</th>
                    <th>Origem</th>
                    <th>Cliente</th>
                    <th>Desconto</th>
                    <th>Valor</th>
                    <th>Ações</th>
                </tr>
                @foreach (var order in Model)
                {
                    if (@order.status == "Entregue")
                    {
                        <tr>
                            <td>@order.id</td>
                            @if (@order.origem == "Site")
                            {
                                <td>@order.origem</td>
                            }
                            else if (@order.origem == "Vendedor")
                            {
                                <td>@order.usuario1.nome @order.usuario1.sobrenome</td>
                            }
                            @if (@order.origem == "Site")
                            {
                                <td>@order.usuario1.nome @order.usuario1.sobrenome</td>
                            }
                            else if (@order.origem == "Vendedor")
                            {
                                <td>@order.usuario_externo1.nome</td>
                            }
                            <td>@order.desconto %</td>
                            <td>@order.valor</td>
                            <td><a href="@Url.Action("ProfileView", new { id = @order.id})"><span class="glyphicon glyphicon-eye-open"></span></a></td>
                        </tr>
                    }

                }
            </table>
        </div>    
    </div>

</div>