@model IEnumerable<MaisLifeModel.Models.usuario>
<table class="table-hover">
    <tr>
        <th></th>
        <th>Nome</th>
        <th>Sobrenome</th>
        <th>Permissão</th>
        <th>E-mail</th>
    </tr>
    @foreach (var user in @Model)
    {
        <tr data-id="@user.id" data-content="patner-row" data-info="unselected">
            <td style="width:100px; height: 100px;">               
               
            </td>
            <td>
                @user.nome
            </td>
            <td>
                @user.sobrenome
            </td>
            <td>
                @user.permissao
            </td>
            <td>
                @user.email
            </td>
        </tr>
    }
</table>
